<img src='{{image}}'>
<div class='description{{^description}} js-none{{/description}}'>
  {{description}}
</div>
<ol class='js-comments comments'></ol>
<a href='{{url}}' class='comment-on-orgsync'>Comment on OrgSync</a>
