//= require olay/olay.css
//= require select2/select2.css
//= requireTree .

@import 'config'

.orgsync-widget
  global-reset()

  // HACK: This can be removed once it doesn't have to override the website
  // builder style that sets all inputs to `float: left`
  input
    float none
  .js-none
    display none
