@import 'config'

.osw-portals-browse
  .search-input
    box-sizing border-box
  .search-input
  .selector
    margin-bottom 10px
    width 100%
    max-width 100%
    &.js-none
      display none
  .list
    overflow auto
    -webkit-overflow-scrolling touch
    height 600px
    &.js-none
      display none
  .list-item
    position relative
    display inline-block
    vertical-align top
    min-width 25%
    width 200px
    max-width 50%
    cursor pointer
    &:hover img
      opacity 1
    img
      display block
      width 100%
      opacity .75
    .info
      position absolute
      bottom 0
      padding 5px
      box-sizing border-box
      width 100%
      color #fff
      text-shadow 0 1px 1px rgba(0, 0, 0, .75)
      background linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75))
      .name
        font-weight bold
        font-size 14px



