@import '../config';

.portals-blank-slate {
  margin: 5px;
  padding: 20px;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1) inset;
  .apology {
    margin-bottom: 10px;
  }
  .suggestions-header {
    font-weight: bold;
  }
}
