@import '../config';

.osw-portals-filters .osw-field {
  display: block;
  @include box-sizing(border-box);
  border: 5px solid transparent;
}

.orgsync-widget[min-width~='480px'] .osw-portals-filters .osw-field {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
}
