@import '../config';

.orgsync-widget {
  .osw-portals-letter-table {
    display: none;
  }

  &[min-width~='640px'] .osw-portals-letter-table {
    display: table;
    width: 100%;
    @include box-sizing(border-box);
    border: 5px solid transparent;
    border-collapse: collapse;
  }
}
