@import '../config';

.portals-list-item {
  vertical-align: top;
  border-top: 1px solid #b8b8b8;
  a {
    display: block;
    text-decoration: none;
    background-color: #f9f9f9;
    @include linear-gradient(#fefefe, #f2f2f2);
    &:hover .name {
      color: #0076a3;
    }
  }
  .image-container {
    position: relative;
    float: left;
    width: 75px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  .info {
    padding: 10px;
    min-height: 55px;
    overflow: hidden;
  }
  .name {
    word-wrap: break-word;
    color: #2b2b2b;
    font-size: 16px;
  }
  .umbrella,
  .category {
    @include box-sizing(border-box);
    color: #999999;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .umbrella {
    font-weight: bold;
  }
}

.orgsync-widget[min-width~='480px'] .portals-list-item {
  display: inline-block;
  @include box-sizing(border-box);
  border: 5px solid transparent;
  width: 33.33%;
  vertical-align: top;
  a {
    border: 1px solid #b8b8b8;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    &:hover {
      border-color: #0076a3;
    }
  }
  .image-container {
    float: none;
    width: 100%;
    img {
      @include border-top-radius(3px);
    }
  }
  .name {
    font-size: 16px;
    min-height: 80px;
  }
  .umbrella,
  .category {
    color: #999;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.orgsync-widget[min-width~='640px'] .portals-list-item {
  width: 25%;
}

.orgsync-widget[min-width~='800px'] .portals-list-item {
  width: 20%;
}

.orgsync-widget[min-width~='960px'] .portals-list-item {
  width: 16.66%;
}
