@import '../config';

.portals-query {
  position: relative;
  @include box-sizing(border-box);
  border: 5px solid transparent;

  &:before {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -11px;
    font-size: 16px;
    font-family: 'SyncDings';
    color: #808080;
    content: '\f098';
    pointer-events: none;
  }

  input {
    cursor: pointer;
    @include appearance(none);
    @include box-sizing(border-box);
    width: 100%;
    padding: 15px 5px 15px 30px;
    border: 1px solid #b8b8b8;
    background-color: #f9f9f9;
    @include linear-gradient(#f2f2f2, #fefefe);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
  }
}

.orgsync-widget[min-width~='480px'] .portals-query {
  display: inline-block;
  width: 50%;
}

.orgsync-widget[min-width~='800px'] .portals-query {
  width: 25%;
}
