@import '../config';

.portals-selector {
  position: relative;
  @include box-sizing(border-box);
  border: 5px solid transparent;

  &:before {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -11px;
    font-size: 16px;
    font-family: 'SyncDings';
    color: #808080;
    pointer-events: none;
  }

  &.umbrella:before {
    content: '\f035';
  }

  &.category:before {
    content: '\f078';
  }

  &.letter:before {
    content: '\f010';
  }

  &:after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #808080 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ' ';
    pointer-events: none;
  }

  select {
    cursor: pointer;
    @include appearance(none);
    @include box-sizing(border-box);
    width: 100%;
    padding: 15px 20px 15px 30px;
    border: 1px solid #b8b8b8;
    background-color: #f9f9f9;
    @include linear-gradient(#fefefe, #f2f2f2);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    // These two lines hide the drop down arrow in FF.
    text-indent: 0.01px;
    text-overflow: '';

    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}

.orgsync-widget[min-width~='480px'] .portals-selector {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.orgsync-widget[min-width~='800px'] .portals-selector {
  width: 25%;
}
