@import '../config';

.osw-portals-show {
  padding: 10px 10px 0;
  text-align: left;
  max-width: 500px;

  > .osw-button {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.osw-portals-show-picture {
  text-align: center;

  > img {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
  }
}

.osw-portals-show-name {
  font-size: 18px;
  font-weight: bold;
}

.osw-portals-show-umbrella {
  font-weight: bold;
}

.osw-portals-show-picture img,
.osw-portals-show-category,
.osw-portals-show-description,
.osw-portals-show-button {
  margin-bottom: 10px;
}

.orgsync-widget[min-width~='640px'] .osw-portals-show {
  width: 500px;
  @include clearfix();

  .osw-portals-show-picture {
    float: right;

    > img {
      display: block;
      border-radius: 3px;
      margin: 0 0 10px 10px;
    }
  }
}
