@import '../config';

.osw-portals-summary {
  padding: 5px 10px;

  .osw-message,
  .osw-clear-buttons {
    display: inline-block;
    vertical-align: middle;
  }

  .osw-message {
    line-height: 28px;
  }

  .osw-button {
    margin-left: 5px;

    .oswi-delete {
      margin-left: 5px
    }
  }
}
