@import '../config';

@mixin news-posts-show {
  @include clearfix;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  max-width: 480px;

  .osw-title {
    display: block;
    font-weight: bold;
    font-size: 16px;
  }

  .osw-creator {
    display: inline;
    font-weight: bold;

    &:before {
      content: ' Posted by ';
      font-weight: normal;
    }

    &:after {
      content: ' ';
    }
  }

  .osw-time {
    display: inline;
    white-space: nowrap;
    color: #666666;
  }

  .osw-body {
    display: block;
    margin-top: 10px;
  }
}
