<div class='js-event-filters event-filters'>
  <input class='js-search-input search-input' placeholder='Search Events'>
  <div class='js-event-filters-list event-filters-list'></div>
</div
><div class='main'>
  <div class='top'>
    <div class='js-loading loading js-none'>Loading events...</div>
    <div class='js-tz tz'><%- o.tzDisplay() %></div>
    <div class='month-year'>
      <div class='left-buttons'>
        <span class='js-toggle-filters toggle-filters'></span>
        |
        <span class='js-change-view change-view' data-view='list'>
          View List
        </span
        ><span class='js-change-view change-view' data-view='month'>
          View Month
        </span>
      </div>
      <div class='right-buttons'>
        <span class='js-prev-month prev-month'>&lt;</span
        ><span class='js-today today'>Today</span
        ><span class='js-next-month next-month'>&gt;</span>
      </div>
      <select class='js-month month'>
        <% var date = o.date(); %>
        <% _.each(_.range(0, 12), function (month) { %>
        <option value='<%= month %>'>
          <%= date.month(month).format('MMMM') %>
        </option>
        <% }); %>
      </select
      ><select class='js-year year'>
        <% var year = date.year(); %>
        <% _.each(_.range(year - 3, year + 4), function (year) { %>
        <option value='<%= year %>'><%= year %></option>
        <% }); %>
      </select>
    </div>
  </div>
  <div class='events'>
    <div class='js-days-of-week days-of-week'></div>
    <div class='js-events-list events-list'></div>
  </div>
</div>
