<div class='js-event-filters osw-event-filters'>
  <div class='osw-search-container'>
    <div class='osw-search-field osw-field oswi oswi-magnify'>
      <input class='js-search-input osw-search-input' placeholder='Search Events'>
    </div>
  </div>
  <div class='js-event-filters-list osw-event-filters-list'></div>
</div
><div class='osw-main'>
  <div class='osw-top'>
    <div class='js-loading osw-loading js-none'>Loading events...</div>
    <div class='js-tz osw-tz'><%- o.tzDisplay() %></div>
    <div class='osw-month-year'>
      <div class='osw-left-buttons'>
        <span class='js-toggle-filters osw-toggle-filters oswi oswi-office-shortcuts'></span>
        |
        <span class='js-change-view osw-change-view' data-view='list'>
          View List
        </span
        ><span class='js-change-view osw-change-view' data-view='month'>
          View Month
        </span>
      </div>
      <div class='osw-right-buttons'>
        <i class='js-prev-month osw-prev-month oswi oswi-pointer-left'></i
        ><span class='js-today osw-today'>Today</span
        ><i class='js-next-month osw-next-month oswi oswi-pointer-right'></i>
      </div>
      <select class='js-month osw-month'>
        <% var date = o.date(); %>
        <% _.each(_.range(0, 12), function (month) { %>
        <option value='<%= month %>'>
          <%= date.month(month).format('MMMM') %>
        </option>
        <% }); %>
      </select
      ><select class='js-year osw-year'>
        <% var year = date.year(); %>
        <% _.each(_.range(year - 3, year + 4), function (year) { %>
        <option value='<%= year %>'><%= year %></option>
        <% }); %>
      </select>
    </div>
  </div>
  <div class='osw-events'>
    <div class='js-days-of-week osw-days-of-week'></div>
    <div class='js-events-list osw-events-list'></div>
  </div>
</div>
