@import '../config';

.orgsync-widget {
  .osw-albums-list-item {
    position: relative;
    vertical-align: top;

    a {
      display: block;
      padding: 20px;
      color: #333333;
      text-decoration: none;

      &:hover {
        color: #0076a3;

        .osw-cover-photo {
          box-shadow: 0 3px 10px #0076a3;

          &:not(:last-child) {

            &:nth-child(1) {
              @include transform(translate(2px, -3px) rotate(3deg));
            }

            &:nth-child(2) {
              @include transform(translate(3px, 4px) rotate(-4deg));
            }

            &:nth-child(3) {
              @include transform(translate(-3px, -3px) rotate(5deg));
            }
          }
        }
      }
    }

    .osw-cover-photos-container {
      position: relative;
    }

    .osw-cover-photo {
      position: relative;
      border: 5px solid white;
      width: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      transition: all 0.1s ease-in-out;
      background: white;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }

      &:before {
        content: "";
        display: block;
        padding-top: 66.66%;
      }

      &:not(:last-child) {
        position: absolute;

        &:nth-child(1) {
          @include transform(rotate(2deg));
        }

        &:nth-child(2) {
          @include transform(rotate(-3deg));
        }

        &:nth-child(3) {
          @include transform(rotate(4deg));
        }
      }
    }

    .osw-name {
      padding-top: 10px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }

    .osw-photo-count {
      text-align: center;
    }
  }

  &[min-width~='251px'] .osw-albums-list-item {
    display: inline-block;
    width: 50%;
  }

  &[min-width~='501px'] .osw-albums-list-item {
    width: 33.3%;
  }

  &[min-width~='751px'] .osw-albums-list-item {
    width: 25%;
  }

  &[min-width~='1001px'] .osw-albums-list-item {
    width: 20%;
  }
}
