@import '../config';

.orgsync-widget {
  .osw-albums-show-info {
    padding: 20px;
  }

  .osw-albums-show-name,
  .osw-albums-show-photo-count {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .osw-albums-show-photo-count {
    color: $grey-darker;
    font-size: 16px;
    font-weight: normal;
  }

  .osw-albums-show-popup {
    max-width: 1100px;
  }
}
