@import '../config';

.osw-events-calendar {
  background: white;
  .osw-day-names {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  th {
    padding: 2px;
  }

  .osw-day-name {
    border-top: 1px solid $grey;
    padding: 2px 2px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: $grey-darker;
    text-align: right;
  }
}
