@import '../config';

.osw-events-column {
  padding: 1px 2px 0;
  height: 18px;
  font-size: 11px;

  &.osw-all-day,
  &.osw-continued,
  &.osw-continues {
    .osw-event {
      background: #ddd;
    }
  }

  &.osw-all-day,
  &.osw-continued {
    &:not(.osw-continues) .osw-event{
      @include border-right-radius(3px);
    }
  }

  .osw-event {
    border-left: 2px solid;
    padding: 0 4px;
    line-height: 18px;
    height: 18px;
    @include box-sizing(border-box);
    @include clearfix;
  }

  &.osw-continues {
    padding-right: 0;

    .osw-event {
      padding-right: 6px;
    }
  }

  &.osw-continued {
    padding-left: 0;

    .osw-event {
      border-left: none;
      padding-left: 8px;
    }
  }

  .osw-time {
    float: right;
    padding-left: 5px;
    color: $grey-darker;
  }

  .osw-time,
  .osw-title,
  .osw-more {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .osw-more {
    text-align: center;
  }
}
