@import '../config';

.osw-events-index {
  &.js-list-view .osw-events-list{
    overflow: auto;
  }

  .osw-events-list {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
