@import '../config';

.osw-events-index {
  position: relative;

  .osw-sidebar {
    width: 20%;
  }

  .osw-search {
    padding: 5px 5px 0;

    .osw-field {
      width: 100%;
    }
  }

  .osw-main {
    background: white;
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    @include transition(all 1s $ease-out-expo);

    &.osw-full-width {
      left: 0;
      width: 100%;
    }
  }

  .osw-view-tabs {
    display: inline-block;

    .osw-button {
      &:not(:first-child) {
        @include border-left-radius(0);
      }

      &:not(:last-child) {
        @include border-right-radius(0);
      }
    }
  }

  .osw-view {
    max-height: 650px;
    overflow: auto;
  }
}
