@import '../config';

.orgsync-widget {
  .osw-events-index {
    height: 680px;
    position: relative;
  }

  .osw-events-index-sidebar {
    padding-top: 36px;
    width: 20%;
  }

  .osw-events-index-search {
    padding: 5px 5px 0;

    .osw-field {
      width: 100%;
    }
  }

  .osw-events-index-main {
    @include transition(all .5s $ease-out-expo);
    background: #fff;
    left: 20%;
    position: absolute;
    top: 0;
    width: 80%;
  }

  .osw-events-index-full-width {
    left: 0;
    width: 100%;
  }

  .osw-events-index-header {
    height: 30px;
    padding: 5px;
    @include clearfix;
  }

  .osw-events-index-tz {
    color: $grey-darker;
    font-size: 11px;
    padding: 5px 10px 0 0;
    text-align: right;
  }

  .osw-events-index-left {
    float: left;
  }

  .osw-events-index-view-tabs {
    display: inline-block;
    margin-left: 5px;
  }

  .osw-events-index-list-controls,
  .osw-events-index-calendar-controls {
    text-align: center;
  }

  .osw-events-index-view {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    height: 640px;
    overflow: auto;
  }

  .osw-events-index-month,
  .osw-events-index-year {
    @include appearance(none);
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    vertical-align: middle;
  }

  .osw-events-index-month {
    direction: rtl;
    font-weight: bold;
    margin-right: 5px;
  }

  .osw-events-index-incr {
    float: right;
  }
}
