@import '../config';

.orgsync-widget {
  .osw-events-index {
    position: relative;
  }

  .osw-events-index-sidebar {
    width: 20%;
  }

  .osw-events-index-search {
    padding: 5px 5px 0;

    .osw-field {
      width: 100%;
    }
  }

  .osw-events-index-main {
    background: white;
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    @include transition(all 0.5s $ease-out-expo);
  }

  .osw-events-index-full-width {
    left: 0;
    width: 100%;
  }

  .osw-events-index-header {
    padding: 5px;
    @include clearfix;
  }

  .osw-events-index-tz {
    text-align: right;
    color: $grey-darker;
    padding-bottom: 5px;
  }

  .osw-events-index-left {
    float: left;
  }

  .osw-events-index-view-tabs {
    margin-left: 5px;
    display: inline-block;
  }

  .osw-events-index-list-controls,
  .osw-events-index-calendar-controls {
    text-align: center;
  }

  .osw-events-index-view {
    height: 605px;
    overflow: auto;
  }

  .osw-events-index-month,
  .osw-events-index-year {
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    @include appearance(none);
    -moz-appearance: window;
    border-radius: 0;
    font-size: 20px;
  }

  .osw-events-index-month {
    margin-right: 5px;
    font-weight: bold;
    direction: rtl;
  }

  .osw-events-index-incr {
    float: right;
  }
}
