@import '../config';

.orgsync-widget {
  .osw-events-list-date-header {
    background: $slate-lightest;
    border-left: 1px solid $table-border-color;
    color: $slate-darker;
    font-size: 12px;
    letter-spacing: .05em;
    padding: 8px;
    position: -webkit-sticky;
    position: sticky;
    text-transform: uppercase;
    top: 0;
  }

  .osw-events-list-date-popup {
    max-width: 500px;
  }
}
