@import '../config';

.orgsync-widget {
  .osw-events-list-item-content {
    @include clearfix;
    background: #fff;
    border-bottom: 1px solid $grey;
    border-left: 5px solid $grey;
    cursor: pointer;
    padding: 10px;
  }

  .osw-events-list-item-picture-container {
    @include user-select(none);
    border-radius: 3px;
    box-shadow: 0 1px 2px $grey;
    float: left;
    font-weight: bold;
    height: 45px;
    margin-right: 10px;
    text-align: center;
    width: 45px;

    > img {
      border-radius: 3px;
      width: 100%;
    }
  }

  .osw-events-list-item-month {
    @include border-top-radius(3px);
    background: $red;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .osw-events-list-item-date {
    @include border-bottom-radius(3px);
    background: $grey-lightest;
    color: $grey-darker;
    font-size: 14px;
    line-height: 25px;
  }

  .osw-events-list-item-info {
    padding-top: 8px;
  }

  .osw-events-list-item-title {
    color: $grey-darkest;
    font-size: 14px;
  }

  .osw-events-list-item-subtext {
    color: $grey-darker;
    font-size: 11px;
  }

  .osw-events-list-item-time,
  .osw-events-list-item-portal-name {
    margin-right: 5px;
  }

  .osw-events-list-item-maybe-attending {
    color: $orange;
  }

  .osw-events-list-item-attending {
    color: $green;
  }

  .osw-events-list-item-portal-name {
    color: #000;
  }

  .osw-events-list-item-title,
  .osw-events-list-item-subtext {
    @include ellipsis;
  }
}
