@import '../config';

.osw-events-show {
  padding: 20px;
  @include clearfix;

  a:not(.osw-button) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.osw-events-show-picture-container {
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 1px 2px $grey;
  @include user-select(none);

  > img {
    border-radius: 3px;
    width: 100%;
  }
}

.osw-events-show-month {
  @include border-top-radius(3px);
  color: white;
  background: $red;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.osw-events-show-date {
  @include border-bottom-radius(3px);
  color: $grey-darker;
  background: $grey-lightest;
  font-size: 40px;
  line-height: 60px;
}

.osw-events-show-info {
  overflow: hidden;
}

.osw-events-show-title {
  font-size: 26px;
  color: $blue-darkest;
}

.osw-events-show-subtext {
  font-size: 11px;
  color: $grey-darker;
}

.osw-events-show-time,
.osw-events-show-portal-name {
  margin-right: 5px;
  margin-right: 5px;
}

.osw-events-show-maybe-attending {
  color: $orange;
}

.osw-events-show-attending {
  color: $green;
}

.osw-events-show-section {
  padding-top: 20px;
  @include clearfix;

  > .oswi {
    float: left;
    margin-top: -7px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
    font-size: 25px;
    color: $grey;
  }
}

.osw-events-show-section-main {
  overflow: hidden;
  font-size: 16px;
}

.osw-events-show-time {
  font-size: 14px;
}

.osw-events-show-location,
.osw-events-show-portal-name {
  color: $grey-darkest;
}

.osw-events-show-actions {
  padding-top: 10px;

  .osw-button,
  label {
    margin-bottom: 10px;
  }

  input {
    margin-right: 10px;
  }

  label {
    cursor: pointer;
    display: block;
  }
}

.osw-events-show-popup {
  max-width: 500px;

  &[min-width~='480px'] .osw-events-show-picture-container {
    float: left;
    margin: 0 20px 0 0;
  }
}
