@import '../config';

.orgsync-widget {
  .osw-events-td {
    font-size: 12px;
    height: 18px;
    padding: 0 2px;
  }

  .osw-events-td-all-day,
  .osw-events-td-continued,
  .osw-events-td-continues {
    .osw-events-td-event {
      background: $grey-lightest;
    }
  }

  .osw-events-td-all-day,
  .osw-events-td-continued {
    &:not(.osw-events-td-continues) .osw-events-td-event {
      @include border-right-radius(3px);
    }
  }

  .osw-events-td-event {
    @include box-sizing(border-box);
    @include clearfix;
    border-left: 2px solid $grey;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
  }

  .osw-events-td-continues {
    padding-right: 0;

    .osw-events-td-event {
      padding-right: 6px;
    }
  }

  .osw-events-td-continued {
    padding-left: 0;

    .osw-events-td-event {
      border-left: 0;
      padding-left: 8px;
    }
  }

  .osw-events-td-attending .osw-events-td-event {
    color: $green-darkest;
  }

  .osw-events-td-maybe-attending .osw-events-td-event,
  .osw-events-td-invited .osw-events-td-event {
    color: $grey-darker;
  }

  .osw-events-td-invited .osw-events-td-event {
    border: 1px dashed;
  }

  .osw-events-td-time {
    color: $grey-darker;
    float: right;
    font-size: 10px;
    padding-left: 5px;
  }

  .osw-events-td-time,
  .osw-events-td-title,
  .osw-events-td-more {
    @include ellipsis;
  }

  .osw-events-td-more {
    cursor: pointer;
    padding-left: 6px;
  }
}
