@import '../config';

.orgsync-widget {
  .osw-events-td {
    padding: 1px 2px 0;
    height: 18px;
    font-size: 11px;
  }

  .osw-events-td-all-day,
  .osw-events-td-continued,
  .osw-events-td-continues {
    .osw-events-td-event {
      background: $grey-lightest;
    }
  }

  .osw-events-td-all-day,
  .osw-events-td-continued {
    &:not(.osw-events-td-continues) .osw-events-td-event{
      @include border-right-radius(3px);
    }
  }

  .osw-events-td-event {
    border-left: 2px solid $grey;
    padding: 0 4px;
    line-height: 18px;
    height: 18px;
    cursor: pointer;
    @include box-sizing(border-box);
    @include clearfix;
  }

  .osw-events-td-continues {
    padding-right: 0;

    .osw-events-td-event {
      padding-right: 6px;
    }
  }

  .osw-events-td-continued {
    padding-left: 0;

    .osw-events-td-event {
      border-left: none;
      padding-left: 8px;
    }
  }

  .osw-events-td-attending .osw-events-td-event {
    color: $green-darkest;
  }

  .osw-events-td-maybe-attending .osw-events-td-event,
  .osw-events-td-invited .osw-events-td-event {
    color: $grey-darker;
  }

  .osw-events-td-invited .osw-events-td-event {
    border: 1px dashed $grey;
  }

  .osw-events-td-time {
    float: right;
    padding-left: 5px;
    color: $grey-darker;
  }

  .osw-events-td-time,
  .osw-events-td-title,
  .osw-events-td-more {
    @include ellipsis;
  }

  .osw-events-td-more {
    text-align: center;
    cursor: pointer;
  }
}
