@import '../config';

.orgsync-widget {
  .osw-events-week {
    padding-bottom: 5px;
    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }

    th {
      font-weight: normal;
      padding: 0 2px;
    }
  }

  .osw-events-week-day-wrapper {
    @include ellipsis;
    border-top: 1px solid $grey;
    color: $grey-darker;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 4px 1px 4px;
    text-align: right;
  }

  .osw-events-week-current-day .osw-events-week-day-wrapper {
    @include border-top-radius(3px);
    background: $red;
    border-top: 0;
    color: #fff;
    font-weight: bold;
    padding-top: 3px;
  }
}
