@import '../config';

.osw-events-week {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    padding: 0 2px 2px;
    font-weight: normal;

    .osw-wrapper {
      border-top: 1px solid $grey;
      padding: 2px;
      font-size: 14px;
      text-align: right;
    }
  }

  &.osw-current-week {
    tr {
      background: $grey-lightest;
    }

    .osw-wrapper {
      border-top: 3px solid $grey-darker;
    }
  }
}
