@import '../config';

.osw-events-week {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr {
    background: white;
  }

  th {
    padding: 0 2px 2px;
    font-weight: normal;

    .osw-day-wrapper {
      border-top: 1px solid $grey;
      padding: 2px;
      font-size: 14px;
      text-align: right;
    }
  }

  .osw-current-day .osw-day-wrapper {
    color: $red;
    font-weight: bold;
  }
}
