@import 'config'

.osw-albums-browse
  .album-list-item
    position relative
    display inline-block
    box-sizing border-box
    padding 20px
    cursor pointer
    perspective 500px
    width 25%
    vertical-align top
    .js-stack-container
      position relative
    &:hover
      img
        box-shadow 0 3px 10px #48c
        &:last-child
          transform translate3d(0, 0, 20px)
        &:not(:last-child)
          &:nth-child(1)
            transform translate3d(0, 0, 10px) rotate(3deg)
          &:nth-child(2)
            transform translate3d(0, 0, 10px) rotate(-4deg)
          &:nth-child(3)
            transform translate3d(0, 0, 10px) rotate(5deg)
    img
      width 100%
      position relative
      border 5px solid #fff
      box-shadow 0 1px 3px rgba(0, 0, 0, .5)
      vertical-align bottom
      transition .1s all ease-in-out
      &:not(:last-child)
        position absolute
        &:nth-child(1)
          transform rotate(2deg)
        &:nth-child(2)
          transform rotate(-3deg)
        &:nth-child(3)
          transform rotate(4deg)
    .name
      padding-top 10px
      font-weight bold
      font-size 14px
      text-align center
    .count
      text-align center
      &:after
        content ' Photos'
