@import 'config'

.osw-albums-browse
  .album-list-item
    position relative
    box-sizing border-box
    padding 20px 20px 0
    cursor pointer
    vertical-align top
    .js-stack-container
      position relative
    &:hover
      color #0076a3
      img
        box-shadow 0 3px 10px #0076a3
        &:not(:last-child)
          &:nth-child(1)
            transform translate(6px, -4px) rotate(3deg)
          &:nth-child(2)
            transform translate(3px, 5px) rotate(-4deg)
          &:nth-child(3)
            transform translate(-4px, -5px) rotate(5deg)
    img
      width 100%
      position relative
      border 5px solid #fff
      box-shadow 0 1px 3px rgba(0, 0, 0, .5)
      vertical-align bottom
      transition .1s all ease-in-out
      &:not(:last-child)
        position absolute
        &:nth-child(1)
          transform rotate(2deg)
        &:nth-child(2)
          transform rotate(-3deg)
        &:nth-child(3)
          transform rotate(4deg)
    .name
      padding-top 10px
      font-weight bold
      font-size 14px
      text-align center
    .count
      text-align center
      &:after
        content ' Photos'
.osw-albums-browse[min-width~='480px']
  .album-list-item
    display inline-block
    width 50%
.osw-albums-browse[min-width~='640px']
  .album-list-item
    width 33.3%
.osw-albums-browse[min-width~='800px']
  .album-list-item
    width 25%
.osw-albums-browse[min-width~='960px']
  .album-list-item
    width 20%
