@import 'config'

.osw-comments-show
  text-align left
  clearfix()
  .info
    overflow auto
    padding 5px
  .picture
    float left
    width 64px
    min-height 1px
  .name
    display inline
    font-weight bold
    color #0076a3
  .time
    display inline
    color #666
