@import 'config'

.osw-events-index.js-list-view
  .osw-days-show
    .short-date
      display none
    .long-date
      position -webkit-sticky
      position sticky
      top 0
      padding 20px 5px 5px
      color #666
      font-size 16px
      border-bottom 1px solid #ccc
      background #fff
.osw-events-index.js-month-view
.osw-events-index.js-week-view
  .osw-days-show
    display inline-block
    box-sizing border-box
    border solid #fff
    border-width 0 5px
    width 14.285714%
    vertical-align top
    height 16.666666%
    &:before
      display block
      content ''
      border-top 1px solid #ccc
    &.js-current-week
      background #f9f9f9
      &:before
        border-top-width 3px
        border-color #999
    &.js-today
      background #eee
      &:before
        border-top-color #666
    .long-date
      display none
    .short-date
      padding 5px
      text-align right
      font-size 14px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      cursor pointer
.osw-events-index.js-week-view .osw-days-show
  height 100%
