@import 'config'

.orgsync-widget.osw-days-show
  .date
    padding 10px
    background #ccc
.osw-events-index.js-month-view[min-width~='501px']
  .osw-days-show
    display inline-block
    width 14.2%
    vertical-align top
