@import "config";

.osw-events-index.js-list-view {
  .osw-event-dates-show {
    border: 1px solid #cccccc;
    border-left-width: 5px;
    border-bottom: none;
    padding: 5px;
    cursor: pointer;
    @include clearfix;
    &:first-child {
      border-top: none;
    }
    .picture-container {
      float: left;
      width: 45px;
      height: 45px;
      margin: 0 5px 0 30px;
      img {
        width: 100%;
      }
    }
    .location,
    .short-time {
      display: none;
    }
    .title {
      font-size: 14px;
      color: #333333;
    }
    .long-time {
      display: inline;
      font-size: 11px;
      color: #666666;
    }
    .info {
      padding: 8px 5px;
      overflow: auto;
    }
  }
}

.osw-events-index.js-month-view,
.osw-events-index.js-week-view {
  .osw-event-dates-show {
    position: relative;
    margin-top: 1px;
    border-left: 5px solid;
    padding: 2px 5px;
    font-size: 11px;
    box-sizing: border-box;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
    &.js-all-day .short-time {
      display: none;
    }
    &.js-continues {
      padding-right: 10px;
      margin-right: -5px;
    }
    &.js-continued {
      margin-left: -5px;
      padding-left: 10px;
      border-left-width: 0;
      &:not(.js-continues) {
        @include border-right-radius(5px);
      }
    }
    &.js-continued:not(.js-first-dow) .title {
      visibility: hidden;
    }
    .location,
    .picture-container,
    .long-time {
      display: none;
    }
    .short-time {
      float: right;
      padding-left: 5px;
      max-width: 100%;
      color: #999999;
    }
    .short-time,
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
