@import 'config'

.orgsync-widget.osw-event-dates-show
  &:first-child
    border-top none
  .picture-container
    float left
    width 45px
    height 45px
    img
      width 100%
  .info
    padding 5px 0 5px 10px
    overflow auto
  .title
    font-size 16px
  .time
  .location
    display inline
    color #666
.osw-events-index.js-list-view
.osw-events-index.js-month-view:not([min-width~='501px'])
  .osw-event-dates-show
    border 1px solid #ccc
    border-bottom none
    padding 10px
    clearfix()
    .time:after
      content ' •'
.osw-events-index.js-month-view[min-width~='501px']
  .osw-event-dates-show
    .location
    .picture-container
      display none
