@import 'config'

.osw-events-index
  > .list
    height 599px
  .js-month
  .js-year
    display inline-block
    font-size 16px
  .js-month
    font-weight bold
.osw-events-index.js-list-view
.osw-events-index.js-month-view:not([min-width~='751px'])
  .days-of-week
    display none
.osw-events-index.js-month-view[min-width~='751px']
  .js-day-container
    display inline-block
    box-sizing border-box
    width 14.28%
    padding 0 5px
  .js-day
    border-bottom 1px solid #ccc
    padding 0 5px
    font-weight bold
    font-size 14px
    line-height 26px
