@import 'config'

.osw-events-index
  position relative
  .event-filters
    padding-right 5px
    float left
  .main
    overflow auto
  .events-list
    height 600px
  .top
    clearfix()
  .month-year
    float right
    padding 5px
    text-align right
    .month
    .year
      font-size 24px
      background none
      border none
      outline none
      cursor pointer
      appearance none
      text-indent 0.01px
      text-overflow ''
    .month
      margin-right 5px
      font-weight bold
      direction rtl
    .tz
      font-size 11px
      color #666
.osw-events-index.js-list-view
  .days-of-week
    display none
.osw-events-index.js-month-view
.osw-events-index.js-week-view
  .js-day-container
    display inline-block
    box-sizing border-box
    width 14.28%
    padding 0 5px
  .js-day
    border-bottom 1px solid #ccc
    padding 0 5px
    font-weight bold
    font-size 14px
    line-height 26px
