@import 'config'

.osw-events-index
  position relative
  .event-filters
    display inline-block
    width 15%
    vertical-align top
    position absolute
    .search-input
      box-sizing border-box
      width 100%
      margin-bottom 5px
      height 30px
      padding 0 5px
      border-radius 3px
      border 1px solid #ccc
  .main
    display inline-block
    width 85%
    position absolute
    right 0
    transition width .5s ease-in-out
    vertical-align top
    background #fff
  .events-list
    height 600px
  .top
    padding 0 5px
    text-align center
    clearfix()
  .month-year
    .month
    .year
      vertical-align middle
      font-size 24px
      background none
      border none
      outline none
      cursor pointer
      appearance none
      text-indent 0.01px
      text-overflow ''
      border-radius 0
    .month
      margin-right 5px
      font-weight bold
      direction rtl
    .prev-month
    .next-month
      font-weight bold
      font-size 20px
      vertical-align middle
      cursor pointer
    .prev-month
      margin-right 20px
    .next-month
      margin-left 20px
  .tz
    text-align right
    font-size 11px
    color #666
  .toggle-filters
    float left
  .today
  .change-view
    float right
.osw-events-index.js-list-view
  .toggle-filters
    visibility hidden
  .days-of-week
    display none
.osw-events-index.js-month-view
.osw-events-index.js-week-view
  .js-day-container
    display inline-block
    box-sizing border-box
    width 14.28%
    padding 0 5px
  .js-day
    border-bottom 1px solid #ccc
    padding 0 5px
    font-weight bold
    font-size 14px
    line-height 26px
.osw-events-index.js-month-view
.osw-events-index.js-week-view
  &.js-full-width .main
    width 100%
