@import 'config'

.orgsync-widget.osw-event-filters-show
  display block
  margin-top 5px
  border-left 5px solid
  padding 5px
  cursor pointer
  &.js-legend-mode
    cursor default
    .enabled
      display none
  .enabled
    cursor pointer
    margin-right 5px

