@import 'config'

.osw-events-index.js-list-view
.osw-events-index.js-month-view:not([min-width~='751px'])
  .osw-event-dates-show
    border 1px solid #ccc
    border-bottom none
    padding 10px
    clearfix()
    &:first-child
      border-top none
    .picture-container
      float left
      width 45px
      height 45px
      img
        width 100%
    .short-time
      display none
    .title
      font-size 16px
    .long-time
    .location
      display inline
      color #666
    .long-time:after
      content ' •'
    .info
      padding 5px 0 5px 10px
      overflow auto
.osw-events-index.js-month-view[min-width~='751px']
  .osw-event-dates-show
    position relative
    margin-top 5px
    border-left 5px solid #f66
    padding 2px 5px
    font-size 11px
    &.js-continued:before
    &.js-continues:after
        position absolute
        top 50%
        margin-top -5px
        margin-left -5px
        width 0
        height 0
        content ''
        border 5px solid transparent
    &.js-continued:before
        left -5px
        border-left-width 0
        border-right-color #666
    &.js-continues:after
        right -5px
        border-right-width 0
        border-left-color #666
    .location
    .picture-container
    .long-time
      display none
    .short-time
      float right
      padding-left 5px
      color #999
    .title
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
