@import 'config'

.orgsync-widget.osw-news-posts-index
.orgsync-widget.osw-news-posts-show
  .list-item
    clearfix()
    margin 0 auto
    padding 5px
    max-width 580px
  a
    color #0076a3
    text-decoration none
    &:hover
      text-decoration underline
  .thumbnail
    display block
    float right
    margin 0 0 10px 10px
  .title
    display block
    font-weight bold
    font-size 16px
  .creator
    display inline
    font-weight bold
    &:before
      content 'Posted by '
      font-weight normal
  .time
    display inline
    white-space nowrap
    color #666
  .comment-count
    display inline
    white-space nowrap
    &.none
      display none
    &:before
      content 'with '
    &:after
      content ' Comment'
    &.plural:after
      content ' Comments'
  .body
    display block
    margin-top 10px
.orgsync-widget.osw-news-posts-index
  .thumbnail
  .body
    display none
.osw-news-posts-index[min-width~='501px']
  .thumbnail
  .body
    display block
.orgsync-widget.osw-news-posts-show
  text-align left
  padding 10px
  max-width 480px
  img
    max-width 100%
  p
    margin-bottom 20px
  strong
    font-weight bold
  em
    font-style italic
  .comments
    margin-bottom 10px
    &:before
      content 'Comments'
      display block
      margin-bottom 5px
      font-weight bold
      font-size 16px
