@import 'config'

.js-olay-container
  background #000
  background rgba(0, 0, 0, .75)
.js-olay-cell
  padding 10px
.js-olay-content
  background #fff
  border-radius 3px
  box-shadow 0 1px 5px rgba(0, 0, 0, .75)
