@import 'config'

.osw-portals-browse
  .search-input
  .selector
  .matchers
    margin-bottom 10px
  .search-input
  .selector
    margin-right 1%
    width 30%
    vertical-align middle
  .select2-choice
    height 40px
    line-height 40px
    .select2-arrow b
      position relative
      top 7px
    .select2-search-choice-close
      top 14px
  .select2-offscreen
    display none
  .select2-chosen
    font-weight bold
    font-size 14px
    color #333
  .search-input
    padding 10px
    height 40px
    font-size 14px
    box-sizing border-box
  .list-item
    position relative
    display inline-block
    vertical-align top
    min-width 25%
    width 200px
    max-width 50%
    cursor pointer
    &:hover img
      opacity 1
    img
      display block
      width 100%
      opacity .75
    .info
      position absolute
      bottom 0
      padding 5px
      box-sizing border-box
      width 100%
      color #fff
      text-shadow 0 1px 1px rgba(0, 0, 0, .75)
      background linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75))
      .name
        font-weight bold
        font-size 14px
  .matchers
    input[type=button]
      margin 0
      border 1px solid #ddd
      padding 5px 0
      color #333
      background linear-gradient(#fafafa, #e8e8e8)
      cursor pointer
      width 3.25%
      box-sizing border-box
      &:hover
        background linear-gradient(#e8e8e8, #fafafa)
      &:not(:last-child)
        border-right none
      &:first-child
        width 5.5%
        border-radius left 3px
      &:last-child
        width 10%
        border-radius right 3px
      &.js-selected
        border-color #00578F
        color white
        background #3872a7
        box-shadow 0 1px 3px rgba(0, 0, 0, .75) inset
