@import 'config'

.osw-portals-browse
  .filters
    margin-bottom 10px
  .search-input
  .selector
    margin 0 1% 10px 0
    width 32.25%
    vertical-align middle
  .search-input
    padding 10px
    height 40px
    font-size 14px
    box-sizing border-box
    border-radius 3px
    border 1px solid #ddd
    box-shadow 0 1px 3px rgba(0, 0, 0, .1) inset;
  .select2-choice
    height 40px
    line-height 40px
    .select2-arrow b
      position relative
      top 7px
    .select2-search-choice-close
      top 14px
  .select2-offscreen
    display none
  .select2-chosen
    font-weight bold
    font-size 14px
    color #333
  .matchers
    input[type=button]
      margin 0
      border 1px solid #ddd
      padding 5px 0
      color #333
      background linear-gradient(#fafafa, #e8e8e8)
      cursor pointer
      width 3.25%
      box-sizing border-box
      &:hover
        background linear-gradient(#e8e8e8, #fafafa)
      &:not(:last-child)
        border-right none
      &:first-child
        width 5.5%
        border-radius left 3px
      &:last-child
        width 9.5%
        border-radius right 3px
      &.js-selected
        border-color #00578F
        color white
        background #3872a7
        box-shadow 0 1px 3px rgba(0, 0, 0, .75) inset
  .list-item
    position relative
    vertical-align top
    cursor pointer
    margin 0 1% 1% 0
    box-shadow 0 1px 5px rgba(0, 0, 0, .25)
    border-radius 3px
    &:hover
      box-shadow 0 1px 3px #0076a3
      .name
        color #0076a3
    img
      display block
      width 100%
    .info
      overflow hidden
      padding 10px
      height 120px
      .name
        font-size 16px
      .umbrella
      .category
        box-sizing border-box
        position absolute
        left 0
        padding 0 10px
        color #999
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        width 100%
        background #eee
      .umbrella
        bottom 24px
        font-weight bold
        padding-top 10px
      .category
        bottom 0
        padding-bottom 10px
        border-radius bottom 3px
.osw-portals-browse[min-width~='400px'] .list-item
    width 32.3%
    display inline-block
.osw-portals-browse[min-width~='600px'] .list-item
    width 24%
.osw-portals-browse[min-width~='800px'] .list-item
    width 19%
