@import 'config'

.osw-portals-browse
  .search-input
  .umbrella-selector
  .category-selector
  .matchers
    margin 0 0 10px
  .search-input
    padding 10px
    width 100%
    height 40px
    font-size 14px
    box-sizing border-box
    border-radius 3px
    border 1px solid #ddd
    box-shadow 0 1px 3px rgba(0, 0, 0, .1) inset;
  .umbrella-selector
  .category-selector
    width 100%
  .select2-choice
    height 40px
    line-height 40px
    .select2-arrow b
      position relative
      top 7px
    .select2-search-choice-close
      top 14px
  .select2-offscreen
    display none
  .select2-chosen
    font-weight bold
    font-size 14px
    color #333
  .matchers
    display none
    .matcher
      // this is rule is stupid, but necessary to override the website builder
      // defaults
      float none
      margin 0
      border 1px solid #ddd
      padding 5px 0
      color #333
      background linear-gradient(#fafafa, #e8e8e8)
      cursor pointer
      width 3.25%
      box-sizing border-box
      &:hover
        background linear-gradient(#e8e8e8, #fafafa)
      &:not(:last-child)
        border-right none
      &:first-child
        width 6%
        border-radius left 3px
      &:last-child
        width 9.5%
        border-radius right 3px
      &.js-selected
        border-color #00578F
        color white
        background #3872a7
        box-shadow 0 1px 3px rgba(0, 0, 0, .75) inset
  .list-item
    vertical-align top
    border-top 1px solid #ccc
    a
      display block
      text-decoration none
      &:hover .name
        color #0076a3
    img
      float left
      margin-right 10px
      width 75px
    .info
      padding 10px
      min-height 55px
    .name
      color #2b2b2b
      font-size 16px
    .umbrella
      display none
    .category
      box-sizing border-box
      color #999
      overflow-x hidden
      text-overflow ellipsis
      white-space nowrap
.osw-portals-browse[min-width~='480px']
  .list-item
    display inline-block
    box-sizing border-box
    margin 5px
    border 0
    width 150px
    vertical-align top
    box-shadow 0 1px 3px rgba(0, 0, 0, .25)
    img
      float none
      display block
      width 100%
    .name
      color #2b2b2b
      font-size 16px
      min-height 80px
    .umbrella
      display none
    .category
      box-sizing border-box
      color #999
      overflow-x hidden
      text-overflow ellipsis
      white-space nowrap
.osw-portals-browse[min-width~='640px']
  .search-input
  .umbrella-selector
  .category-selector
    width 32.6%
    vertical-align middle
  .search-input
  .umbrella-selector
    margin-right 1%
  .matchers
    display block
