@import 'config'

fontUrl(ext)
  'https://orgsync.com/fonts/SyncDings-Regular.' + ext

@font-face
  font-family 'SyncDings'
  src url(fontUrl('.eot'))
  src url(fontUrl('eot?#iefix')) format('embedded-opentype'),
      url(fontUrl('woff')) format('woff'),
      url(fontUrl('ttf')) format('truetype'),
      url(fontUrl('svg#SyncDingsRegular')) format('svg'),
      url(fontUrl('otf')) format('opentype')
  font-weight normal
  font-style normal

[class^='icon-']
[class*=' icon-']
  &:before
  &:after
    display inline-block
    font-family SyncDings
    font-size 1.3em
    font-style normal
    font-weight normal
    text-align center
    text-decoration inherit
    width 1.6em
    line-height 0.769230769em
  &.icon-large:before
    vertical-align middle
    font-size 1.333em
    line-height 0.750187547em
  &.icon-larger:before
    vertical-align middle
    font-size 2em
    line-height .5em
  &.after:before
    content ''
    width 0

a[class^='icon-'],
a[class*=' icon-'],
a[class^='icon-']:visited,
a[class*=' icon-']:visited
  color $grey-darker
  &:hover
    color #000
    text-decoration none
    &::before
      text-decoration none

a [class^='icon-'],
a [class*=' icon-']
  display inline-block
  text-decoration inherit
  &:hover
    text-decoration none

ul.icons
  list-style-type none
  padding 0
  margin 0

li
  [class^='icon-'],
  [class*=' icon-']
    display inline-block

li
  a[class^='icon-'],
  a[class*=' icon-']
    display inline-block
    &:hover:before
      text-decoration none

.icon-home:before
  font-family SyncDings
  content '\f000'

.icon-communication:before
  content '\f001'

.icon-budget:before
  content '\f002'

.icon-contact-book:before
.icon-contact.book:before
  content '\f003'

.icon-donation:before
  content '\f004'

.icon-event:before
.feed-item.event span
  content '\f005'

.icon-form:before
.icon-form-description:before
  content '\f006'

.icon-poll:before
  content '\f007'

.icon-store:before
  content '\f008'

.icon-todo-list:before
.icon-to-do:before
  content '\f009'

.icon-invoice:before
.icon-pdf:before
  content '\f010'

.icon-video:before
.icon-video-link:before
  content '\f011'

.icon-discussion:before
.icon-forum-topic:before
.icon-forum:before
  content '\f012'

.icon-email:before
.icon-email-list:before
  content '\f013'

.icon-file:before
.icon-folder-file-summary:before
.icon-folder:before
  content '\f014'

.icon-website:before
  content '\f015'

.icon-message:before
.icon-messaging:before
  content '\f016'

.icon-news:before
.icon-news-post:before
  content '\f017'

.icon-people:before
  content '\f018'

.icon-sms:before
.icon-text.messaging:before
  content '\f019'

.icon-timesheet:before
  content '\f020'

.icon-calendar:before
  content '\f021'

.icon-photo:before
.icon-photos:before
.icon-album:before
  content '\f022'

.icon-page:before
.icon-custom-page:before
  content '\f023'

.icon-paypal:before
  content '\f024'

.icon-treasury:before
  content '\f025'

.icon-checkbook:before
  content '\f026'

.icon-dues-simple:before
  content '\f027'

.icon-dues:before
  content '\f028'

.icon-settings:before
  content '\f029'

.icon-payment:before
  content '\f030'

.icon-bookmark:before
.icon-portal-bookmark:before
.icon-link:before
  content '\f031'

.icon-service:before
.icon-opportunity:before
  content '\f032'

.icon-organization:before
.icon-portal:before
  content '\f033'

.icon-tool:before
  content '\f034'

.icon-umbrella:before
  content '\f035'

.icon-community:before
  content '\f036'

.icon-inbox:before
  content '\f037'

.icon-notification:before
  content '\f038'

.icon-eportfolio:before
  content '\f039'

.icon-request:before
.icon-requests:before
  content '\f040'

.icon-involvement:before
  content '\f041'

.icon-jobs:before
  content '\f042'

.icon-open-book:before
  content '\f043'

.icon-person:before
  content '\f044'

.icon-support:before
  content '\f045'

.icon-logout:before
.icon-share:before
  content '\f046'

.icon-manage-acct:before
  content '\f047'

.icon-download:before
  content '\f048'

.icon-upload:before
  content '\f049'

.icon-lock:before
  content '\f050'

.icon-move-to-person:before
  content '\f051'

.icon-reset:before
  content '\f052'

.icon-manage:before
  content '\f053'

.icon-edit:before
  content '\f054'

.icon-reports:before
  content '\f055'

.icon-admin:before
  content '\f056'

.icon-registration:before
  content '\f057'

.icon-error:before
  content '\f058'

.icon-success:before
  content '\f059'

.icon-construction:before
  content '\f060'

.icon-info:before
  content '\f061'

.icon-weather:before
  content '\f062'

.icon-feed:before
  content '\f063'

.icon-office-shortcuts:before
  content '\f064'

.icon-promote:before
  content '\f065'

.icon-darth:before
  content '\f066'

.icon-post-to:before
  content '\f067'

.icon-status:before
.icon-status-update:before
  content '\f068'

.icon-beta:before
  content '\f069'

.icon-zeus:before
  content '\f070'

.icon-delete:before
  content '\f071'

.icon-down:before
.icon-sort-to-desc:before
  content '\f072'

.icon-up:before
.icon-sort-to-asc:before
  content '\f073'

.icon-unlock:before
  content '\f074'

.icon-check:before
  content '\f075'

.icon-note:before
  content '\f076'

.icon-revenue:before
  content '\f077'

.icon-book:before
  content '\f078'

.icon-next:before
  content '\f079'

.icon-previous:before
  content '\f080'

.icon-add:before
.icon-add-form:before
  content '\f081'

.icon-expand:before
  content '\f082'

.icon-dashboard:before
  content '\f083'

.icon-save:before
  content '\f084'

.icon-move:before
  content '\f085'

.icon-logic:before
  content '\f086'

.icon-collapse:before
  content '\f087'

.icon-world:before
  content '\f088'

.icon-duplicate:before
.icon-clone:before
  content '\f089'

.icon-orgwall:before
.icon-orgwall-post:before
  content '\f090'

.icon-orgsync-c:before
  content '\f091'

.icon-swipe:before
  content '\f092'

.icon-pointer-left:before
  content '\f093'

.icon-pointer-right:before
  content '\f094'

.icon-pointer-down:before
  content '\f095'

.icon-pointer-up:before
  content '\f096'

.icon-location:before
  content '\f097'

.icon-magnify:before
  content '\f098'

.icon-rss:before
  content '\f099'

[class^='icon-']
[class*=' icon-']
  &.after
    &:before
      content ''
      width 0
    &.icon-next:after
      content '\f079'

.icon-hang
  margin-left 30px
