@import "config";

.orgsync-widget.osw-event-filters-show {
  label {
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
  }
  &.js-legend-mode {
    cursor: default;
    .enabled {
      display: none;
    }
  }
  .enabled {
    cursor: pointer;
    margin-right: 5px;
  }
  .js-icon {
    float: right;
  }
  hr {
    margin: 10px;
    border: 0;
    height: 1px;
    background: #ccc;
  }
}
