@import "config";

.osw-portals-index {
  .filters {
    margin: 5px 5px 0;
  }
  .search-input,
  .umbrella-selector,
  .category-selector,
  .letters {
    margin: 5px 0;
  }
  .search-input {
    outline: 0;
    padding: 10px;
    width: 100%;
    height: 42px;
    font-size: 14px;
    @include box-sizing(border-box);
    border: 1px solid #aaaaaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  }
  .umbrella-selector,
  .category-selector {
    width: 100%;
  }
  .select2-dropdown-open .select2-choice {
    border-color: #5897fb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  }
  .select2-choice {
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    border-color: #aaaaaa;
    box-shadow: none;
    .select2-arrow {
      border-radius: 0;
      b {
        position: relative;
        top: 7px;
      }
    }
    .select2-search-choice-close {
      top: 14px;
    }
  }
  .select2-offscreen {
    display: none;
  }
  .select2-chosen {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
  }
  .letters {
    display: none;
  }
  .results-summary {
    margin: 15px 0 5px;
    .active-filter {
      display: inline-block;
      background: #3872a7;
      vertical-align: middle;
      border-radius: 3px;
      border: 1px solid #00578f;
    }
    .filter-name,
    .filter-value {
      display: inline-block;
      padding: 5px;
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
      word-break: break-all;
    }
    .filter-name {
      @include border-left-radius(3px);
      font-weight: bold;
      background: #00578f;
    }
    .clear-filter {
      background: none;
      border: none;
      padding-left: 0;
      color: #00578f;
      font-weight: bold;
      @include border-right-radius(3px);
      &:hover,
      &:active {
        background: none;
        box-shadow: none;
        color: white;
      }
    }
  }
  .list {
    margin-top: 5px;
  }
  .list-item {
    vertical-align: top;
    border-top: 1px solid #cccccc;
    a {
      display: block;
      text-decoration: none;
      &:hover,
      &:focus {
        .name {
          color: #0076a3;
        }
      }
    }
    .image-container {
      position: relative;
      float: left;
      width: 75px;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
    .info {
      padding: 10px;
      min-height: 55px;
      overflow: hidden;
    }
    .name {
      word-wrap: break-word;
      color: #2b2b2b;
      font-size: 16px;
    }
    .umbrella,
    .category {
      @include box-sizing(border-box);
      color: #999999;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .umbrella {
      font-weight: bold;
    }
  }
  .no-results {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    background: white;
    p {
      margin-bottom: 10px;
    }
    strong {
      font-weight: bold;
    }
    ul {
      margin: 0 0 10px 20px;
      list-style: disc;
    }
  }
}

.osw-portals-index[min-width~='480px'] {
  .list {
    margin-top: 0;
  }
  .list-item {
    display: inline-block;
    @include box-sizing(border-box);
    border: 5px solid transparent;
    width: 33.33%;
    vertical-align: top;
    background: white;
    a {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      &:hover,
      &:focus {
        box-shadow: 0 1px 5px #0076a3;
      }
    }
    .image-container {
      float: none;
      width: 100%;
    }
    .name {
      color: #2b2b2b;
      font-size: 16px;
      min-height: 80px;
    }
    .umbrella,
    .category {
      color: #999999;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.osw-portals-index[min-width~='640px'] {
  .search-input,
  .umbrella-selector,
  .category-selector {
    display: inline-block;
    width: 33.33%;
    vertical-align: middle;
    @include box-sizing(border-box);
  }
  .search-input,
  .umbrella-selector:not(.select2-dropdown-open) .select2-choice {
    border-right-width: 0;
  }
  .letters {
    display: block;
    .letter {
      padding: 5px 0;
      width: 3.25%;
      @include box-sizing(border-box);
      &:not(:last-child) {
        border-right: none;
      }
      &:first-child {
        width: 6%;
      }
      &:last-child {
        width: 9.5%;
      }
    }
  }
  .list-item {
    width: 25%;
  }
}

.osw-portals-index[min-width~='800px'] {
  .list-item {
    width: 20%;
  }
}

.osw-portals-index[min-width~='960px'] {
  .list-item {
    width: 16.66%;
  }
}

.orgsync-widget .osw-portals-show {
  padding: 10px;
  @include clearfix;
  img {
    float: left;
    width: 150px;
    margin-right: 10px;
  }
  .info {
    text-align: left;
    overflow: hidden;
    .name {
      color: #0076a3;
      font-size: 20px;
    }
    .umbrella {
      font-weight: bold;
      font-size: 14px;
    }
    .category {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .description {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: #0076a3;
    }
  }
}
