<%
var count = o.model.get('comments_count');
var classes = '';
if (count !== 1) classes += ' plural';
if (!count) classes += ' none';
%>
<a href='<%- o.model.orgsyncUrl() %>' tabindex='1'>
  <div class='image-container'>
    <img src='<%- o.model.get('thumbnail_url') %>'>
  </div>
  <div class='comment-count<%= classes %>'><%= count %></div>
</a>
