<a href='{{url}}' tabindex='1'>
  <div class='image-container'><img src='{{image}}'></div>
  <div
    class='
      comment-count
      {{^count}}none{{/count}}
      {{#plural}}plural{{/plural}}
    '
  >
    {{count}}
  </div>
</a>
