<div class='js-event-filters event-filters'>
  <input class='js-search-input search-input' placeholder='Search Events'>
  <ol class='js-event-filters-list event-filters-list'></ol>
</div
><div class='main'>
  <div class='top'>
    <div class='js-tz tz'><%- o.tzDisplay() %></div>
    <div class='month-year'>
      <input type='button' class='js-today today' value='Today'
      ><input type='button' class='js-change-view change-view' data-view='list' value='List'
      ><input type='button' class='js-change-view change-view' data-view='month' value='Month'
      ><input
        type='button'
        class='js-toggle-filters toggle-filters'
        value='Filters'
      >
      <input type='button' class='js-prev-month prev-month' value='&lt;'
      <% var date = o.date(); %>
      ><select class='js-month month'>
        <% _.each(_.range(0, 12), function (month) { %>
        <option value='<%= month %>'>
          <%= date.month(month).format('MMMM') %>
        </option>
        <% }); %>
      </select
      <% var year = date.year(); %>
      ><select class='js-year year'>
        <% _.each(_.range(year - 3, year + 4), function (year) { %>
        <option value='<%= year %>'><%= year %></option>
        <% }); %>
      </select
      ><input type='button' class='js-next-month next-month' value='&gt;'>
    </div>
  </div>
  <div class='events'>
    <div class='js-days-of-week days-of-week'></div>
    <ol class='js-events-list events-list'></ol>
  </div>
</div>
