<input type='button' class='js-change-view' data-view='list' value='List'>
<input type='button' class='js-change-view' data-view='month' value='Month'>
<input type='button' class='js-prev-month' value='&lt;&lt;'>
<input type='button' class='js-prev-week' value='&lt;'>
<input type='button' class='js-today' value='Today'>
<input type='button' class='js-next-week' value='&gt;'>
<input type='button' class='js-next-month' value='&gt;&gt;'>
<div class='month-year'>
  <div class='js-month month'></div>
  <div class='js-year year'></div>
</div>
<div class='js-days-of-week days-of-week'></div>
<ol class='js-list list'></ol>
