@import "config";

.orgsync-widget.osw-events-index {
  position: relative;
  .event-filters {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    position: absolute;
    .search-input {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 5px;
      height: 30px;
      padding: 0 5px;
      border-radius: 3px;
      border: 1px solid #cccccc;
    }
  }
  .main {
    display: inline-block;
    width: 85%;
    position: absolute;
    right: 0;
    transition: width 0.5s ease-in-out;
    vertical-align: top;
    background: white;
  }
  .events-list {
    height: 600px;
  }
  .top {
    position: relative;
    padding: 0 5px;
    text-align: center;
    @include clearfix;
  }
  .month-year {
    padding-bottom: 5px;
    .month,
    .year {
      vertical-align: middle;
      font-size: 24px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      @include appearance(none);
      text-indent: 0.01px;
      text-overflow: "";
      border-radius: 0;
    }
    .month {
      margin-right: 5px;
      font-weight: bold;
      direction: rtl;
    }
    .prev-month,
    .next-month {
      font-weight: bold;
      font-size: 20px;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        color: #00578f;
      }
    }
    .prev-month {
      margin-right: 5px;
    }
    .next-month {
      margin-left: 5px;
    }
  }
  .loading {
    float: left;
    margin-left: 5px;
    background-size: contain;
    background-position: left;
    padding-left: 18px;
    min-width: 0;
    min-height: 0;
    text-align: left;
  }
  .tz {
    text-align: right;
    font-size: 11px;
    color: #666666;
  }
  .left-buttons,
  .right-buttons {
    position: absolute;
    bottom: 0;
    padding: 5px;
    font-size: 14px;
  }
  .left-buttons {
    left: 0;
  }
  .right-buttons {
    right: 0;
  }
  .toggle-filters,
  .today,
  .change-view {
    cursor: pointer;
    color: #3872a7;
    &:hover {
      color: #00578f;
    }
  }
  .today {
    margin-right: 10px;
  }
}

.osw-events-index.js-list-view {
  .toggle-filters {
    visibility: hidden;
  }
  .days-of-week {
    display: none;
  }
  .change-view[data-view=list] {
    font-weight: bold;
  }
}

.osw-events-index.js-month-view,
.osw-events-index.js-week-view {
  &.js-full-width .main {
    width: 100%;
  }
  .change-view[data-view=month] {
    font-weight: bold;
  }
  .js-day-container {
    display: inline-block;
    box-sizing: border-box;
    width: 14.28%;
    padding: 0 5px;
  }
  .js-day {
    border-bottom: 1px solid #cccccc;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
}
