@import "config";

.osw-events-index.js-list-view {
  .osw-event-dates-list-item {
    border: 1px solid #cccccc;
    border-left-width: 5px;
    border-bottom: none;
    padding: 5px;
    cursor: pointer;
    @include clearfix;
    &:first-child {
      border-top: none;
    }
    .picture-container {
      float: left;
      width: 45px;
      height: 45px;
      margin: 0 5px;
      img {
        width: 100%;
      }
    }
    .default-picture {
      @include user-select(none);
      background: #eee;
      text-align: center;
      color: #999;
      border-radius: 5px;
      border: 1px solid #ccc;
      .month {
        padding-top: 4px;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 15px;
      }
      .date {
        padding-bottom: 4px;
        font-size: 20px;
        line-height: 20px;
      }
    }
    .location,
    .short-time {
      display: none;
    }
    .title {
      font-size: 14px;
      color: #333333;
    }
    .long-time,
    .portal-name,
    .attending {
      display: inline;
      font-size: 11px;
      color: #666;
    }
    .portal-name,
    .attending {
      &:before {
        color: #000;
        content: '\2022';
      }
    }
    .portal-name {
      color: #333;
      &:before {
        margin-right: 5px;
      }
    }
    .attending {
      color: #94b363;
      font-weight: bold;
      text-transform: uppercase;
    }
    .info {
      padding: 8px 5px;
      overflow: auto;
    }
  }
}

.osw-events-index.js-month-view,
.osw-events-index.js-week-view {
  .osw-event-dates-list-item {
    position: relative;
    margin-top: 1px;
    border-left: 5px solid;
    padding: 2px 5px;
    font-size: 11px;
    @include box-sizing(border-box);
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
    &.js-all-day .short-time {
      display: none;
    }
    &.js-continues {
      padding-right: 10px;
      margin-right: -5px;
    }
    &.js-continued {
      margin-left: -5px;
      padding-left: 10px;
      border-left-width: 0;
      &:not(.js-continues) {
        @include border-right-radius(5px);
      }
    }
    &.js-continued:not(.js-first-dow) .title {
      visibility: hidden;
    }
    &.js-is-going .title {
      color: $green;
    }
    .location,
    .picture-container,
    .long-time,
    .portal-name,
    .attending {
      display: none;
    }
    .short-time {
      float: right;
      padding-left: 5px;
      max-width: 100%;
      color: #999999;
    }
    .short-time,
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.js-olay-content {
  .osw-event-dates-show {
    text-align: left;
    padding: 20px;
    max-width: 480px;
    @include clearfix;
    .picture-container {
      float: right;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .datetime,
    .location,
    .portal,
    .description {
      padding: 10px;
      &:before {
        display: block;
        color: #999999;
      }
    }
    .datetime:before {
      content: "WHEN";
    }
    .location:before {
      content: "WHERE";
    }
    .portal:before {
      content: "HOST";
    }
    .description:before {
      content: "DETAILS";
    }
    .see-full-details {
      float: right;
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: #3872a7;
      border-radius: 5px;
      border: 1px solid #3872a7;
      &:hover {
        color: #00578f;
        border-color: #00578f;
      }
    }
  }
}
