@import '../config';

.orgsync-widget {
  .osw-photos-show {
    position: relative;
  }

  .osw-photos-show-image {
    background: center no-repeat #000;
    background-size: contain;
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .osw-photos-show-description {
    box-sizing: border-box;;
    @include linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8) 40px);
    bottom: 0;
    color: #fff;
    font-size: 14px;
    padding: 30px 10px 10px;
    position: absolute;
    width: 100%;
  }

  .osw-photos-show-popup {
    max-width: 710px;
  }
}
