@import '../config';

.orgsync-widget {
  .osw-photos-show {
    .osw-image img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    .osw-description {
      margin-top: 5px;
      font-size: 14px;
    }

    .osw-comments-header {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
    }

    .osw-comments-index {
      margin-top: 5px;
    }
  }

  .osw-photos-show-olay .js-olay-content {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background: white;
    max-width: 710px;
    border-radius: 0;
  }
}
