<%
var count = o.model.get('comments_count');
var classes = '';
if (count !== 1) classes += ' plural';
if (!count) classes += ' none';
var thumbnailUrl = o.model.get('thumbnail_url');
%>
<% if (thumbnailUrl) { %>
<img src='<%- thumbnailUrl %>' class='thumbnail'>
<% } %>
<a href='<%- o.model.orgsyncUrl() %>' class='title'>
  <%- o.model.get('title') %>
</a>
<div class='creator'><%- o.model.get('creator').get('display_name') %></div>
<div class='time'><%- o.model.time() %></div>
<a href='<%- o.model.orgsyncUrl() %>' class='comment-count<%= classes %>'>
  <%= count %>
</a>
<div class='js-body body'><%- o.model.truncatedBody(o.truncate) %></div>
