<div class='osw-picture-container'>
  {{#image}}<img src='{{image}}'>{{/image}}
  {{^image}}
  <div class='osw-default-picture'>
    <div class='osw-month'>{{month}}</div>
    <div class='osw-date'>{{date}}</div>
  </div>
  {{/image}}
</div>
<div class='osw-info'>
  <div class='osw-short-time'>{{shortTime}}</div>
  <div class='osw-title'>
    {{#filler}}&nbsp;{{/filler}}
    {{^filler}}{{title}}{{/filler}}
  </div>
  <div class='osw-long-time'>{{longTime}}</div>
  <div class='osw-location'>{{location}}</div>
  <div class='osw-portal-name'>{{portalName}}</div>
  {{#isGoing}}<div class='osw-attending'>
    <i class='oswi oswi-check'></i>Attending
  </div>
  {{/isGoing}}
</div>
