<div class='picture-container'>
  {{#image}}<img src='{{image}}'>{{/image}}
  {{^image}}<div class='default-picture'>{{date}}</div>{{/image}}
</div>
<div class='info'>
  <div class='short-time'>{{shortTime}}</div>
  <div class='title'>
    {{#filler}}&nbsp;{{/filler}}
    {{^filler}}{{title}}{{/filler}}
  </div>
  <div class='long-time'>{{longTime}}</div>
  <div class='location'>{{location}}</div>
</div>
