<div class='osw-picture-container'>{{#image}}<img src='{{image}}'>{{/image}}</div>
<div class='osw-info'>
  <div class='osw-title'>{{title}}</div>
  <div class='osw-datetime'>
    {{#isMultiDay}}
    <div class='osw-time'>{{multiDayStart}} to<br>{{multiDayEnd}}</div>
    {{/isMultiDay}}
    {{^isMultiDay}}
    <div class='osw-date'>{{singleDayDate}}</div>
    <div class='osw-time'>{{longTime}}</div>
    {{/isMultiDay}}
  </div>
  <div class='osw-location'>{{location}}</div>
  <div class='osw-portal'>{{portalName}}</div>
  <div class='osw-description'>{{description}}</div>
  <a href='{{url}}' class='osw-see-full-details'>See Full Details</a>
</div>
