<%
var name = o.model.get('name');
var fittedName = name.length > 80 ? o.model.get('short_name') : name;
%>
<a href='<%- o.model.webUrl() %>' tabindex='1'>
  <div class='image-container'>
    <img src='<%- o.model.picture() %>' alt='<%- name %>'>
  </div>
  <div class='info'>
    <div class='name'><%- fittedName %></div>
    <div class='umbrella'><%- o.model.umbrellaName() %></div>
    <div class='category'><%- o.model.get('category').get('name') %></div>
  </div>
</a>
