@import '../config';

.osw-events-index.js-list-view {
  .osw-event-dates-list-item {
    border: 1px solid $grey;
    border-left-width: 5px;
    border-bottom: none;
    padding: 5px;
    cursor: pointer;
    @include clearfix;

    &:first-child {
      border-top: none;
    }

    .osw-picture-container {
      float: left;
      width: 45px;
      height: 45px;
      margin: 0 5px;

      img {
        width: 100%;
      }
    }

    .osw-default-picture {
      @include user-select(none);
      background: $grey-lighter;
      text-align: center;
      color: $grey-darker;
      border-radius: 5px;
      border: 1px solid $grey;

      .osw-month {
        padding-top: 4px;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 15px;
      }

      .osw-date {
        padding-bottom: 4px;
        font-size: 20px;
        line-height: 20px;
      }
    }

    .osw-location,
    .osw-short-time {
      display: none;
    }

    .osw-title {
      font-size: 14px;
      color: $grey-darkest;
    }

    .osw-long-time,
    .osw-portal-name,
    .osw-attending {
      display: inline;
      font-size: 11px;
      color: $grey-darker;
    }

    .osw-portal-name,
    .osw-attending {
      &:before {
        color: black;
        content: '\2022';
      }
    }

    .osw-portal-name {
      color: $grey-darkest;

      &:before {
        margin-right: 5px;
      }
    }

    .osw-attending {
      color: $green-darkest;
      font-weight: bold;
      text-transform: uppercase;
    }

    .osw-info {
      padding: 8px 5px;
      overflow: auto;
    }
  }
}

.osw-events-index.js-month-view,
.osw-events-index.js-week-view {
  .osw-event-dates-list-item {
    position: relative;
    margin-top: 1px;
    border-left: 2px solid;
    padding: 0 4px;
    font-size: 11px;
    line-height: 16px;
    @include box-sizing(border-box);
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    &.js-all-day .osw-short-time {
      display: none;
    }

    &.js-continues {
      padding-right: 4px;
      margin-right: -2px;
    }

    &.js-continued {
      margin-left: -2px;
      padding-left: 4px;
      border-left-width: 0;

      &:not(.js-continues) {
        @include border-right-radius(3px);
      }
    }

    &.js-continued:not(.js-first-dow) .osw-title {
      visibility: hidden;
    }

    &.js-is-going .osw-title {
      color: $green-darkest;
    }

    .osw-location,
    .osw-picture-container,
    .osw-long-time,
    .osw-portal-name,
    .osw-attending {
      display: none;
    }

    .osw-short-time {
      float: right;
      padding-left: 5px;
      max-width: 100%;
      color: $grey-darker;
    }

    .osw-short-time,
    .osw-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.js-olay-content .osw-event-dates-show {
  text-align: left;
  padding: 20px;
  max-width: 480px;
  @include clearfix;

  .osw-picture-container {
    float: right;
  }

  .osw-title {
    font-size: 20px;
    font-weight: bold;
  }

  .osw-datetime,
  .osw-location,
  .osw-portal,
  .osw-description {
    padding: 10px;
    &:before {
      display: block;
      color: $grey-darker;
    }
  }

  .osw-datetime:before {
    content: "WHEN";
  }

  .osw-location:before {
    content: "WHERE";
  }

  .osw-portal:before {
    content: "HOST";
  }

  .osw-description:before {
    content: "DETAILS";
  }
}
