<div class='js-long-date osw-long-date'>{{longDate}}</div>
<div class='js-short-date osw-short-date js-jump-to' data-date='{{dataDate}}'>
  {{shortDate}}
</div>
<div class='js-event-dates-list osw-event-dates-list'></div>
<div class='js-show-more js-none js-jump-to osw-show-more' data-date='{{dataDate}}'>
  And <span class='js-show-more-number'></span> more...
</div>
