<div class='js-long-date long-date'>{{longDate}}</div>
<div class='js-short-date short-date js-jump-to' data-date='{{dataDate}}'>
  {{shortDate}}
</div>
<ol class='js-event-dates-list event-dates-list'></ol>
