<div class='filters'>
  <input class='js-search-input search-input' placeholder='Search Portals'>
  <div class='js-umbrella-selector selector'></div>
  <div class='js-category-selector selector'></div>
</div>
<div class='js-list list'></div>
