<div class='filters'>
  <input class='js-search-input search-input' placeholder='Search Portals'>
  <div class='js-umbrella-selector selector'></div>
  <div class='js-category-selector selector'></div>
  <div class='js-letters lettrs'>
    <span>All</span>
    <% _.times(26, function (n) { %>
    <span><%- String.fromCharCode(65 + n) %></span>
    <% }); %>
  </div>
</div>
<div class='js-list list'></div>
