<div class='picture'>{{#avatar}}<img src='{{avatar}}'>{{/avatar}}</div>
<div class='info'>
  <div class='name'>{{name}}</div>
  <div class='time'>{{time}}</div>
  <div class='content'>{{content}}</div>
</div>
