@import '../config';

.orgsync-widget {
  .osw-bookmarks-show {
    padding: 10px 10px 0;
    font-size: 16px;
    font-weight: lighter;

    > .osw-button-row {
      margin-top: 25px;
      margin-bottom: 10px;
      margin-left: 25px;
    }
  }

  .osw-bookmarks-show-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .osw-bookmarks-show-description,
  .osw-bookmarks-show-creator {
    margin-bottom: 10px;
  }

  .osw-bookmarks-favicon {
    float: left;
    margin-top: 3px;
  }

  .osw-bookmarks-show-creator {
    color: $grey-darker;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  .osw-polls-show-description {
    font-size: 10pt;
    padding: 5px;
    background-color: $grey-lightest;
    border-radius: 5px;
  }

  .osw-bookmarks-show-popup {
    max-width: 480px;

    &[min-width~='480px'] {
      .osw-forms-show {
        @include clearfix;
      }
    }
  }
}
