@import '../config';

.osw-days-show {
  position: relative;
}

.osw-events-index.js-list-view {
  .osw-days-show {
    .osw-short-date {
      display: none;
    }

    .osw-long-date {
      position: -webkit-sticky;
      position: sticky;
      z-index: 1;
      top: 0;
      padding: 10px;
      color: $grey-darker;
      border: 1px solid $grey;
      background: $grey-lighter;
    }
  }
}

.osw-events-index.js-month-view,
.osw-events-index.js-week-view {
  .osw-days-show {
    display: inline-block;
    @include box-sizing(border-box);
    border: solid white;
    border-width: 0 2px;
    width: 14.28%;
    vertical-align: top;
    height: 16.66667%;
    background: white;

    &:before {
      display: block;
      content: '';
      border-top: 1px solid $grey;
    }

    &.js-current-week {
      background: $grey-lightest;

      &:before {
        border-top-width: 3px;
        border-color: $grey-darker;
      }
    }

    &.js-today {
      background: $grey-lighter;

      &:before {
        border-top-color: $grey-darkest;
      }
    }

    .osw-long-date {
      display: none;
    }

    .osw-short-date {
      padding: 0 2px;
      line-height: 15px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    .osw-show-more {
      padding: 2px;
      color: $grey-darker;
      cursor: pointer;
      font-size: 11px;
      text-align: center;
    }
  }
}

.osw-events-index.js-week-view .osw-days-show {
  height: 100%;
}
