@import '../config';

.osw-days-show {
  position: relative;
}

.osw-events-index.js-list-view {
  .osw-days-show {
    .osw-short-date {
      display: none;
    }

    .osw-long-date {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: 10px;
      color: #666666;
      font-size: 14px;
      border: 1px solid #cccccc;
      background: #eeeeee;
    }
  }
}

.osw-events-index.js-month-view,
.osw-events-index.js-week-view {
  .osw-days-show {
    display: inline-block;
    @include box-sizing(border-box);
    border: solid white;
    border-width: 0 5px;
    width: 14.28%;
    vertical-align: top;
    height: 16.66667%;
    background: #fff;

    &:before {
      display: block;
      content: "";
      border-top: 1px solid #cccccc;
    }

    &.js-current-week {
      background: #f9f9f9;

      &:before {
        border-top-width: 3px;
        border-color: #999999;
      }
    }

    &.js-today {
      background: #eeeeee;

      &:before {
        border-top-color: #666666;
      }
    }

    .osw-long-date {
      display: none;
    }

    .osw-short-date {
      padding: 5px;
      text-align: right;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    .osw-show-more {
      padding: 5px;
      color: #666;
      cursor: pointer;
      font-size: 11px;
      text-align: center;
    }
  }
}

.osw-events-index.js-week-view .osw-days-show {
  height: 100%;
}
