<% var thumbnailUrl = o.model.get('thumbnail_url'); %>
<div class='picture-container'>
  <% if (thumbnailUrl) { %><img src='<%- thumbnailUrl %>'><% } %>
</div>
<div class='info'>
  <div class='title'><%- o.model.get('title') %></div>
  <div class='location'><%- o.model.get('location') %></div>
  <div class='description'><%- o.model.get('description') %></div>
</div>
