<% var thumbnailUrl = o.model.get('thumbnail_url'); %>
<div class='picture-container'>
  <% if (thumbnailUrl) { %><img src='<%- thumbnailUrl %>'><% } %>
</div>
<div class='info'>
  <div class='title'><%- o.model.get('title') %></div>
  <div class='datetime'>
    <% if (o.eventDate.isMultiDay()) { %>
    <div class='time'>
      <%- o.eventDate.start().format('dddd, MMMM D, YYYY [at] LT') %> to<br>
      <%- o.eventDate.end().format('dddd, MMMM D, YYYY [at] LT') %>
    </div>
    <% } else { %>
    <div class='date'>
      <%- o.eventDate.start().format('dddd, MMMM D, YYYY') %>
    </div>
    <div class='time'><%- o.eventDate.longTime() %></div>
    <% } %>
  </div>
  <div class='location'><%- o.model.get('location') %></div>
  <div class='portal'><%- o.model.get('portal').get('name') %></div>
  <div class='description'><%- o.model.get('description') %></div>
  <a href='<%- o.model.orgsyncUrl(o.eventDate) %>' class='see-full-details'>
    See Full Details
  </a>
</div>
