@import '../config';

.orgsync-widget {
  .osw-accounts-list-item {
    @include clearfix;
  }

  .osw-accounts-list-item-picture {
    display: block;
    float: left;
    height: 64px;
    margin-right: 5px;
    width: 64px;
  }

  .osw-accounts-list-item-first-name,
  .osw-accounts-list-item-last-name {
    @include ellipsis;
  }

  .osw-accounts-list-item-first-name {
    font-size: 20px;
  }

  .osw-accounts-list-item-last-name {
    font-size: 18px;
    font-weight: bold;
  }

  &[min-width~='461px'] .osw-accounts-list-item {
    display: inline-block;
    width: 50%;
  }

  &[min-width~='691px'] .osw-accounts-list-item {
    width: 33.3%;
  }

  &[min-width~='921px'] .osw-accounts-list-item {
    width: 25%;
  }
}
