@import '../config';

.orgsync-widget {
  .osw-forms-filters .osw-field {
    display: block;
    box-sizing: border-box;;
    border: 5px solid transparent;
  }

  &[min-width~='480px'] .osw-forms-filters .osw-field {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}
