@import '../config';

.orgsync-widget {
  .osw-forms-list-item {
    @include clearfix;
    border-top: 1px solid $grey;
    cursor: pointer;
    padding: 10px;

    &:first-child {
      border-top: 0;
      padding-top: 6px;
    }
  }
}
