@import '../config';

.orgsync-widget {
  .osw-builder-index{
    padding: 40px;
    .osw-form-element {
      line-height: 1.5em;
      padding: 10px;
      position: relative;
    }

    .osw-form-element.osw-dropdown:after {
      right: 25px;
    }

    textarea{
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
  }

  &[min-width~='640px'] {
    .osw-builder-index-left {
      box-sizing: border-box;
      display: inline-block;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      vertical-align: top;
      width: 25%;
    }

    .osw-builder-index-right {
      display: inline-block;
      vertical-align: top;
      width: 75%;
    }
  }
}
