@import '../config';

.orgsync-widget {
  .osw-builder-index-right{
    background: #f4f4f4;
    box-sizing: border-box;
    h3{
      border-bottom: 1px solid #dedede;
      padding: 10px;
    }
  }

  .osw-builder-index-left {
    padding: 5px;

    .osw-form-element {
      line-height: 1.5em;
      padding: 10px;
      position: relative;
    }

    .osw-form-element.osw-dropdown:after {
      right: 25px;
    }
  }

  &[min-width~='640px'] {
    .osw-builder-index-left {
      box-sizing: border-box;
      display: inline-block;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      vertical-align: top;
      width: 25%;
    }

    .osw-builder-index-right {
      display: inline-block;
      vertical-align: top;
      width: 75%;
    }
  }
}
