<a href='{{model.orgsyncUrl}}' tabindex='1'>
  <div class='image-container'>
    <img src='{{model.attributes.cover_photo}}'>
  </div>
  <div class='name'>{{model.attributes.name}}</div>
  <div class='count'>{{model.attributes.photo_count}}</div>
</a>
