<img src="<%- this.model.get('picture_url') %>">
<div class='info'>
  <div class='name'><%- this.model.get('name') %></div>
  <div class='umbrella'><%- this.model.get('umbrella').get('name') %></div>
  <div class='category'><%- this.model.get('category').get('name') %></div>
  <div class='description'><%- this.model.get('description') %></div>
  <a href="<%- this.model.get('website_url') %>">Website</a> |
  <a href="https://orgsync.com/<%- this.model.id %>/chapter">On OrgSync.com</a>
</div>
