<img src="<%- o.model.picture() %>" alt='<%- o.model.get('name') %>'>
<div class='info'>
  <div class='name'><%- o.model.get('name') %></div>
  <div class='umbrella'><%- o.model.umbrellaName() %></div>
  <div class='category'><%- o.model.get('category').get('name') %></div>
  <div class='description'><%- o.model.get('description') %></div>
  <% if (o.model.get('website_url')) { %>
  <a href="<%- o.model.get('website_url') %>">Website</a> |
  <% } %>
  <a href="<%- o.model.orgsyncUrl() %>">On OrgSync.com</a>
</div>
