@import '../config';

.osw-event-filters-index {
  overflow: auto;
  max-height: 605px;

  &.osw-inset-block {
    padding: 5px;
  }

  hr {
    margin: 5px 0;
    border: 0;
    height: 1px;
    background: #ccc;
  }
}
