@import '../config';

.orgsync-widget {
  .osw-event-filters-index {
    background: #fff;
    box-shadow: none;
    overflow: auto;
    max-height: 598px;

    &.osw-inset-block {
      padding: 5px;
    }

    hr {
      margin: 5px 0;
      border: 0;
      height: 1px;
      background: #ccc;
    }
  }
}
