@import '../config';

.orgsync-widget {
  .osw-event-filters-list-item {
    cursor: pointer;
    display: block;
    line-height: 2;
    padding: 2px;
  }

  .osw-event-filters-list-item-name {
    @include ellipsis;
    color: $grey-darker;
  }
  
  .osw-event-filters-header{
    font-weight: bold;
  }

  .osw-event-filters-list-item-checkbox {
    margin-right: 5px;
  }

  .osw-event-filters-list-item-header .osw-event-filters-list-item-name {
    font-weight: bold;
  }

  .osw-event-filters-list-item-icon {
    float: right;
    font-size: 16px;
    margin-right: 5px;
  }
}
