@import '../config';

.orgsync-widget {
  .osw-selector-index {
    position: relative;
    text-align: left;
  }

  .osw-selector-index-scopes,
  .osw-selector-index-results,
  .osw-selector-index-selected-results {
    overflow: auto;
  }

  .osw-selector-index-inline {
    &.osw-selector-index-results-visible .osw-selector-index-tokens-and-query {
      @include border-bottom-radius(0);
    }

    .osw-selector-index-results {
      @include border-bottom-radius($border-radius);
      background: #fff;
      border: 1px solid #eee;
      border-top: 0;
      left: 0;
      max-height: 264px;
      position: absolute;
      right: 0;
      z-index: 1;
    }

    .osw-selector-index-tokens-and-query {
      border: 1px solid #eee;
    }

    .osw-selector-index-loading,
    .osw-selector-index-empty,
    .osw-selector-index-error {
      padding: 5px;
    }
  }

  .osw-selector-index-browse {
    @include box-sizing(border-box);
    @include clearfix;
    border: 1px solid #ccc;
    border-right: 0;

    .osw-selector-index-left,
    .osw-selector-index-middle,
    .osw-selector-index-right {
      @include box-sizing(border-box);
      border-right: 1px solid #ccc;
    }

    .osw-selector-index-left,
    .osw-selector-index-middle {
      border-bottom: 1px solid #ccc;
    }

    .osw-selector-index-tokens-and-query {
      border-bottom: 1px solid #ccc;
      border-radius: 0;
    }

    .osw-selector-index-scopes {
      max-height: 300px;
    }

    .osw-selector-index-results {
      max-height: 465px;
    }

    .osw-selector-index-selected-results {
      max-height: 265px;
    }
  }

  .osw-selector-index-tokens-and-query {
    background: #fff;
    border-radius: $border-radius;
    padding: 5px;
  }

  .osw-selector-index-browse-button {
    float: right;
  }

  .osw-selector-index-query {
    @include clearfix;
    overflow: hidden;
    position: relative;

    &:before {
      color: $grey-darker;
      content: '\f098';
      font-family: SyncDings;
      font-size: 16px;
      position: absolute;
      top: 2px;
    }

    input {
      @include appearance(none);
      @include box-sizing(border-box);
      border: 0;
      font-size: 14px;
      line-height: 24px;
      outline: none;
      padding: 0 5px 0 18px;
      width: 100%;
    }
  }

  .osw-selector-index-tokens-and-query-disabled {
    opacity: .5;
  }

  .osw-selector-index-loading,
  .osw-selector-index-empty,
  .osw-selector-index-error {
    background: #fff;
    color: $grey-darker;
    font-size: 14px;
    padding: 10px;
  }

  .osw-selector-index-error {
    background: $red;
    color: #fff;
  }

  .osw-selector-index-finish-buttons {
    margin-top: 10px;
    text-align: right;
  }

  .osw-selector-index-popup {
    max-width: 1000px;

    .osw-selector-index-browse {
      border: 0;

      .osw-selector-index-left,
      .osw-selector-index-middle,
      .osw-selector-index-right {
        border-right: 0;
      }
    }
  }

  .osw-selector-index-right-header {
    @include box-sizing(border-box);
    background: $grey-lightest;
    border-bottom: 1px solid #ccc;
    color: $grey-darker;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 5px 10px;
  }

  &[min-width~='640px'] {
    .osw-selector-index-popup .osw-selector-index-browse {
      .osw-selector-index-left,
      .osw-selector-index-middle {
        border-right: 1px solid #ccc;
      }
    }

    .osw-selector-index-browse {
      .osw-selector-index-left,
      .osw-selector-index-right {
        border-bottom: 0;
        float: left;
        width: 25%;
      }

      .osw-selector-index-middle {
        border-bottom: 0;
        float: left;
        width: 50%;
      }

      .osw-selector-index-scopes,
      .osw-selector-index-results,
      .osw-selector-index-selected-results {
        max-height: none;
      }

      .osw-selector-index-scopes {
        height: 500px;
      }

      .osw-selector-index-results,
      .osw-selector-index-selected-results {
        height: 465px;
      }
    }
  }
}
