@import '../config';

.selector-index {
  padding: 10px;
  text-align: left;

  &.mini {
    .results {
      position: absolute;
    }
  }

  .tokens {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #eee;
  }

  .query {
    @include appearance(none);
    border: 2px solid #fff;
    border-radius: 3px;
    background: #eee;
    padding: 3px;
    outline: none;
  }

  .scopes {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    width: 25%;
    height: 500px;
  }

  .results {
    overflow: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include box-sizing(border-box);
    padding: 5px;
    width: 75%;
    height: 500px;
    background: #eee;
  }
}

.selector-index-olay .js-olay-content {
  display: block;
  margin: 0 auto;
}
