@import '../config';

.selector-index {
  position: relative;
  padding: 10px;
  text-align: left;

  &.mini {
    .results {
      position: absolute;
      left: 10px;
      right: 10px;
      max-height: 250px;
    }
  }

  &.full {
    .results {
      @include box-sizing(border-box);
      position: relative;
      display: inline-block;
      padding: 5px;
      width: 75%;
      height: 500px;
      vertical-align: top;
    }
  }

  .tokens {
    padding: 5px;
    border: 1px solid #eee;
  }

  .query {
    @include box-sizing(border-box);
    @include appearance(none);
    border: none;
    padding: 5px;
    outline: none;
    width: 100%;
  }

  .scopes {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    width: 25%;
    height: 500px;
  }

  .results {
    overflow: auto;
    background: #eee;
  }
}

.selector-index-olay .js-olay-content {
  display: block;
  margin: 0 auto;
}
