@import '../config';

.selector-result {
  display: inline-block;
  @include box-sizing(border-box);
  padding: 10px;
  text-align: center;
  width: 25%;
  vertical-align: top;
  cursor: pointer;
  @include user-select(none);
  &.selected {
    color: #999;
  }
  .name {
    overflow: hidden;
    height: 30px;
    font-weight: bold;
  }
}
