@import '../config';

.orgsync-widget {
  .osw-selector-scope {
    @include user-select(none);
    border-top: 1px solid #eee;
    cursor: pointer;
    font-size: 14px;
    padding: 0 10px;
    text-align: right;

    &:first-child {
      border-top: 0;
    }
  }

  .osw-selector-scope-active {
    background: $highlight-color;
  }

  .osw-selector-scope-toggle {
    float: left;
    margin: 10px 5px 0 0;
  }

  .osw-selector-scope-name {
    @include ellipsis;
    line-height: 34px;
  }
}
