@import '../config';

.orgsync-widget {
  .osw-selector-scope {
    @include user-select(none);
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    text-align: right;
  }

  .osw-selector-scope-active {
    background: $grey-lighter;
  }

  .osw-selector-scope-toggle {
    float: left;
    margin-right: 5px;
  }

  .osw-selector-scope-name {
    @include ellipsis;
  }
}
