@import '../config';

.orgsync-widget {
  .osw-selector-token {
    @include box-sizing(border-box);
    display: inline-block;
    background: #eee;
    border: 2px solid #fff;
    padding: 3px;
    max-width: 100%;
    @include ellipsis;
    @include user-select(none);

    .osw-name {
      display: inline;
    }

    .osw-remove {
      float: right;
      cursor: pointer;
      padding-left: 3px;
    }
  }
}
