@import '../config';

.orgsync-widget {
  .osw-selector-token {
    @include box-sizing(border-box);
    @include user-select(none);
    border-radius: $border-radius;
    color: #fff;
    display: inline-block;
    max-width: 33.3%;
    padding: 2px;
    vertical-align: bottom;
  }

  .osw-selector-token-content {
    background: $slate-darkest;
    border-radius: $border-radius;
    color: #fff;
    padding: 3px 6px;
  }

  .osw-selector-token-icon {
    margin-right: 3px;
    position: relative;
    top: -1px;
  }

  .osw-selector-token-name {
    @include ellipsis;
  }

  .osw-selector-token-remove {
    cursor: pointer;
    float: right;
    padding-left: 3px;
    position: relative;
    top: -1px;
  }
}
