@import '../config';

.orgsync-widget {
  .osw-selector-token {
    @include box-sizing(border-box);
    @include ellipsis;
    @include user-select(none);
    background: #eee;
    border: 2px solid #fff;
    display: inline-block;
    max-width: 100%;
    padding: 3px;
  }

  .osw-selector-token-icon {
    margin-right: 3px;
  }

  .osw-selector-token-name {
    display: inline;
  }

  .osw-selector-token-remove {
    cursor: pointer;
    float: right;
    padding-left: 3px;
  }
}
