@import 'config';

.orgsync-widget .button {
  border: 1px solid #aaaaaa;
  padding: 5px;
  color: #333333;
  cursor: pointer;
  @include linear-gradient(#fafafa, #e8e8e8);
  @include appearance(none);
  border-radius: 3px;
  &:hover {
    @include linear-gradient(#e8e8e8, #fafafa);
  }
  &:active,
  &.selected {
    border-color: #00578f;
    color: white;
    background: #3872a7;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) inset;
  }
}
