@import "config";

.osw-events-index {
  &.js-list-view .events-list {
    overflow: auto;
  }

  .events-list {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
