@import 'config';

.orgsync-widget {
  .olay-container {
    background: rgba(0, 0, 0, .75);
  }

  .olay-cell {
    padding: 20px;
  }

  .osw-popup {
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
    margin: 0 auto;
  }

  .osw-popup-head {
    @include border-top-radius(3px);
    background: $grey-lighter;
    color: $grey-darker;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }

  .osw-popup-title {
    text-align: center;
  }

  .osw-popup-body {
    @include border-bottom-radius(3px);
    background: #fff;
    overflow: hidden;
  }

  .osw-popup-close-button {
    cursor: pointer;
    float: right;
    margin-top: -2px;

    &:hover {
      border-color: $grey-darkest;
      color: $grey-darkest;
    }
  }
}
