<% var thumbnailUrl = o.model.get('thumbnail_url'); %>
<% if (thumbnailUrl) { %>
<img src='<%- thumbnailUrl %>' class='thumbnail'>
<% } %>
<div class='title'><%- o.model.get('title') %></div>
<div class='creator'><%- o.model.get('creator').get('display_name') %></div>
<div class='time'><%- o.time() %></div>
<div class='body'><%- o.model.get('body') %></div>
<ol class='js-comments comments'></ol>
<a href='<%- o.model.orgsyncUrl() %>' class='comment-on-orgsync'>
  Comment on OrgSync
</a>
