<label>
  <span class='js-icon icon icon-{{iconName}}'></span>
  <div class='name'>
    <input type='checkbox' class='js-enabled enabled' checked>{{name}}
  </div>
</label>
{{#useRule}}
  <hr>
  {{#header}}<div class='header'>{{header}}</div>{{/header}}
{{/useRule}}
