<label>
  <span class='js-icon oswi oswi-{{iconName}}'></span>
  <div class='osw-name'>
    <input type='checkbox' class='js-enabled osw-enabled' checked>{{name}}
  </div>
</label>
{{#isFirst}}
<hr>
<label>
  <div class='osw-name osw-header'>
    <input type='checkbox' class='js-all-enabled osw-enabled' checked>{{header}}
  </div>
</label>
{{/isFirst}}
