<label>
  <span class='js-icon oswi oswi-{{iconName}}'></span>
  <div class='osw-name'>
    <input type='checkbox' class='js-enabled osw-enabled' checked>{{name}}
  </div>
</label>
{{#useRule}}
  <hr>
  {{#header}}<div class='osw-header'>{{header}}</div>{{/header}}
{{/useRule}}
