@import '../config';

.comments-list-item {
  text-align: left;
  border: 1px solid #dddddd;
  padding: 5px;
  background: #f9f9f9;
  @include clearfix;

  &:not(:first-child) {
    border-top: 0;
  }

  .info {
    overflow: auto;
    padding-left: 5px;
  }

  .creator-avatar {
    float: left;
    border: 1px solid #dddddd;
    padding: 5px;
    width: 40px;
    height: 40px;
    background: white;

    img {
      max-width: 100%;
    }
  }

  .creator-name {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
  }

  .time {
    display: inline;
    color: #666666;
  }
}
