@import '../config';

.orgsync-widget {
  .osw-comments-list-item {
    @include clearfix;
    background: #f9f9f9;
    border-bottom: 1px solid $grey-lighter;
    text-align: left;
  }


  .osw-comments-list-item-creator-avatar {
    border-radius: 50%;
    float: left;
    height: 64px;
    margin: 10px 0 10px 10px;
    width: 64px;
  }

  .osw-comments-list-item-info {
    overflow: hidden;
    padding: 10px;
  }

  .osw-comments-list-item-creator-name {
    color: $blue-darkest;
    font-size: 14px;
  }

  .osw-comments-list-item-content {
    margin-top: 5px;
    font-size: 14px;
  }

  .osw-comments-list-item-time {
    color: $grey-darker;
    margin-top: 5px;
  }
}
